h1, h2 {
    font-family: 'Yellowtail', cursive;
    text-transform: capitalize;
}

p {
    font-family: 'Yeon Sung', cursive;
    font-size: large;
    color: gray;
    text-align: center;
}

.justify {
    font-family: 'Yeon Sung', cursive;
    font-size: large;
    color: gray;
    text-align: justify;
}