<div class="container mt-5">

    <h1 class="text-right">Pancito López</h1>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <img class="img-thumbnail border-0" src="../../../assets/img/logo.jpg" alt="">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
            
            <span>
                <p class="justify">Pancito López nació en el 2020, como un pequeño emprendimiento en épocas de adversidad para darles
                    alegría a nuestros clientes, fundada por <strong>Katherine López Alfaro</strong> y respalda por toda
                    su familia.</p>
                <p class="justify">Venimos de un linaje de cocineras de alto calibre que con el transcurso de los años es cada vez mejor
                    y mejor, quien haya probado la cuchara de <strong>Isabel Alfaro Cespedes</strong> no nos dejara
                    mentir, es esa típica señora que enamora con la cuchara, además; se hizo famosa en los bingos de
                    pueblo, en las típicas ventas de escuela o colegio y en las ventas de comida después de la misa por
                    su increíble picadillo de papa o arroz con leche. (Si aún no lo han probado no se qué han hecho de
                    su vida). </p>
                <p class="justify">Nosotros combinamos toda la experiencia de una señora amante de la cocina y una nueva generación que
                    viene con mucho talento y con una cuchara de calidad haciendo una combinación espectacular que su
                    paladar se lo va a agradecer.</p>
                </span>
        
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-4">
            <h2>Misión</h2>
            <p class='mt-5 ml-4 mr-4'>"Llevar al consumidor productos artesanales hechos con amor, llenos de sabor y con
                una alta calidad a un precio justo. Trabajamos para crear un negocio basado en la honestidad e
                integridad."</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-4">
            <h2>Visión</h2>
            <p class='mt-5 ml-4 mr-4'>"Conectar con nuestros clientes para que se sientan como en familia, haciendo de
                Pancito López más que un producto."</p>
        </div>
    </div>

</div>