<div class="container mt-5">

    <h1 class="text-right">Pancito López</h1>
    <div class="row">
        <div class="col-12 col-sm-12 col-mb-6 col-lg-6">
            <img class="img-thumbnail border-0" src="../../../assets/img/logo.jpg" alt="">
        </div>
        <div class="col-12 col-sm-12 col-mb-6 col-lg-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vero tenetur, ea voluptatem repudiandae fugiat cum sequi quae quasi in expedita quibusdam ducimus quam aliquam qui a architecto tempore exercitationem facilis, maxime ratione cumque
                reiciendis voluptatum officiis? Libero minima dolore quidem, amet quaerat veniam consectetur sequi assumenda laboriosam. Asperiores incidunt earum mollitia iste quae culpa fugiat nostrum quidem ullam corporis. Nisi voluptas officia dignissimos
                nostrum. Dolorem dignissimos et odit doloribus nemo nobis aperiam quas recusandae non cumque, itaque harum voluptate repellat deleniti? Itaque accusamus consequatur nisi soluta vitae voluptatum maiores ratione nihil labore, aliquam sint
                enim rem excepturi praesentium facilis quaerat reiciendis officia corrupti. Placeat hic est tempore consequatur voluptates enim culpa quos voluptatum ullam qui non ut amet libero accusamus consequuntur ex magni optio ad, quas incidunt
                tempora praesentium nesciunt ipsam! Eum nesciunt, voluptatum itaque vel culpa hic eveniet animi officiis a necessitatibus, aspernatur quo ducimus quos ipsum est.</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-sm-12 col-mb-6 col-lg-6">
            <h2>Misión</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio soluta quidem cumque deleniti temporibus optio laudantium, commodi labore inventore veniam tenetur nihil fugiat provident ea numquam suscipit fugit, tempore est quaerat eveniet
                deserunt. Qui a cumque nobis voluptate esse, soluta corporis voluptatibus odio nostrum illo harum reiciendis quasi porro illum in optio nihil consequatur? Nulla voluptatum et cupiditate possimus, molestiae nostrum nisi molestias harum
                amet illum dolorum hic obcaecati tenetur, eum provident. Eaque harum earum iure praesentium ipsam maxime quod libero veritatis, a similique eos eius tempora dignissimos. Recusandae, porro similique officia libero est rerum? Hic saepe impedit
                ipsum laudantium.</p>
        </div>
        <div class="col-12 col-sm-12 col-mb-6 col-lg-6">
            <h2>Visión</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam sunt laboriosam repudiandae non voluptate deserunt totam iste minus dignissimos officia blanditiis iusto exercitationem quos fugiat praesentium dolorem quae veritatis ipsam eaque,
                optio natus sequi. Quasi natus fugit nemo reprehenderit in maiores culpa ea similique? Sunt accusantium at ad quasi, repudiandae fugit, a consequuntur labore asperiores laboriosam sequi qui numquam ut accusamus eos iste? Sit, laudantium
                omnis error eaque iste consequuntur iure labore quas similique voluptatibus dicta incidunt adipisci molestias ut aliquam pariatur? Earum, vero non autem doloremque debitis illum tempore. Modi sit consequuntur expedita recusandae, saepe
                nulla vitae possimus debitis.</p>
        </div>
    </div>

</div>