<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/img/logo.jpg" width="50" height="50" alt="" loading="lazy" style="border-radius: 50%;" >
    </a>
    <a class="navbar-brand" href="#">Pancito López</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='menu'>Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='about'>Acerca de</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='product'>Product</a>
            </li>
            
            
        </ul>
        <span class="navbar-text">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item float-right" routerLinkActive="active">
                    <a class="nav-link" routerLink='singIn'>Registrar</a>
                </li>
                <li class="nav-item text-right" routerLinkActive="active">
                    <a class="nav-link" routerLink='login'>Ingresar</a>
                </li>
            </ul>
          </span>
    </div>
</nav>