h4 {
    font-family: 'Yellowtail';
    text-transform: capitalize;
}

p {
    font-family: 'Patrick Hand', cursive;
    font-size: large;
    color: gray;
    text-align: center;
}

.text-right {
    font-family: 'Crete Round', serif;
    font-size: large;
    text-align: center;
}

