<table class="table mt-3">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{product.data.name}}</td>
            <td>{{product.data.description}}</td>
            <td>₡{{product.data.price}}</td>
            <td>
                <button *ngIf="product.data.state" class="btn btn-success"
                    (click)="changeState(product.id, !product.data.state)">Activo</button>
                <button *ngIf="!product.data.state" class="btn btn-danger"
                    (click)="changeState(product.id, !product.data.state)">Inactivo</button>

            </td>
            <td>
                <button class="btn btn-primary" (click)="updatePrice(product.id)">
                    <i class="fas fa-dollar-sign"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="deleteProduct(product.id)">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>

    </tbody>
</table>