h1, h2, .card-title {
    font-family: 'Yellowtail', cursive;
    text-transform: capitalize;
}

p {
    font-family: 'Yeon Sung', cursive;
    font-size: large;
    color: gray;
    text-align: center;
}

.btn-primary{
    font-family: 'Yeon Sung', cursive;
}