<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/img/logoNavBar.jpg" width="30" height="30" alt="" loading="lazy"
            style="border-radius: 50%;">
    </a>
    <a class="navbar-brand" href="#">Pancito López</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='menu'>Inicio</a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Nuestros Productos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink='menu/isNew'>Nuevos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='menu/isSeason'>Temporada</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink='menu/isRegular'>Regulares</a>
                </div>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='about'>Acerca de</a>
            </li>
            <li *ngIf="auth" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='product'>Productos</a>
            </li>
        </ul>
        <span class="navbar-text">
            <ul class="navbar-nav mr-auto">
                <li *ngIf="!auth" class="nav-item text-right" routerLinkActive="active">
                    <a class="nav-link" routerLink='login'>Iniciar Sesión</a>
                </li>
                <li *ngIf="auth" class="nav-item text-right" routerLinkActive="active">
                    <a class="nav-link" routerLink='signOut'>Cerrar Sesión</a>
                </li>
            </ul>
        </span>
    </div>
</nav>