<div class="container">


    <button type="button" class="btn btn-primary mt-3 mb-3 float-right" (click)="addProduct()" data-toggle="tooltip" data-placement="left" title="Agregar nuevo producto">
        <i class="far fa-plus-square"></i> Agregar
    </button>

    <div *ngIf="seasonProducts.length > 0" class="mt-3">
        <h3>Productos de Temporada</h3>

        <app-table [products]='seasonProducts'></app-table>


    </div>

    <div *ngIf="newProducts.length > 0" class="mt-3">
        <h3>Productos Nuevos</h3>

        <app-table [products]='newProducts'></app-table>

    </div>

    <div *ngIf="regularProducts.length > 0" class="mt-3">
        <h3>Productos Regulares</h3>

        <app-table [products]='regularProducts'></app-table>

    </div>

</div>