h1{
    font-family: 'Yellowtail', cursive;
    text-transform: capitalize;
}

label, .btn-success{
    font-family: 'Patrick Hand', cursive;
    font-size: large;
    text-align: center;
}

label {
    color: gray;
}

.text-format{
    font-family: 'Patrick Hand', cursive;
    font-size: large;
}