<div class="container mt-5 mb-5" style="height: 60vh">
    <div class="row mt-5">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lx-6">

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lx-6">
            <h1>Ingresar</h1>
            <form class="mt-5">
                <div class="form-group">
                    <label for="txtEmail" class="col-2 col-sm-2">Email</label>
                    <div class="col-12 col-sm-12">
                        <input class="form-control text-format" type="email" id="txtEmail" name="txtEmail" [(ngModel)]="email" placeholder="Ingrese el correo..." >
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtPassword" class="col-2 col-sm-2">Contraseña</label>
                    <div class="col-12 col-sm-12">
                        <input class="form-control" type="password" id="txtPassword" [(ngModel)]="password" name="txtPassword">
                    </div>
                </div>
                <div *ngIf='error && error !== null && error !== undefined' class="alert alert-danger">
                   {{error}}
                </div>
                <div class="form-group">
                    <button class="btn btn-success form-control" (click)="login()">Login</button>
                </div>
            </form>
        </div>

    </div>
   
</div>