<div class="container mt-5 mb-5" style="height: 60vh">
    <div class="row mt-5">
        <div class="col-2 col-sm-2 col-mb-2 col-lg-2 col-lx-2"></div>
        <div class="col-8 col-sm-8 col-mb-8 col-lg-8 col-lx-8">
            <h1>Registrar</h1>
            <form class="mt-5">
                <div class="form-group row">
                    <label for="txtFirstName" class="col-2 col-sm-2">Nombre</label>
                    <div class="col-10 col-sm-10">
                        <input class="form-control" type="text" id="txtFirstName" name="txtFirstName" placeholder="Ingrese el nombre...">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtLastName" class="col-2 col-sm-2">Apellido</label>
                    <div class="col-10 col-sm-10">
                        <input class="form-control" type="text" id="txtLastName" name="txtLastName" placeholder="Ingrese el apellido...">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtEmail" class="col-2 col-sm-2">Email</label>
                    <div class="col-10 col-sm-10">
                        <input class="form-control" type="email" id="txtEmail" name="txtEmail" placeholder="Ingrese el correo...">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtPassword" class="col-2 col-sm-2">Contraseña</label>
                    <div class="col-10 col-sm-10">
                        <input class="form-control" type="password" id="txtPassword" name="txtPassword">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtConfirmPassword" class="col-2 col-sm-2">Confirmar Contraseña</label>
                    <div class="col-10 col-sm-10">
                        <input class="form-control" type="password" id="txtConfirmPassword" name="txtConfirmPassword">
                    </div>
                </div>
                <div class="form-group row">
                    <button class="btn btn-success form-control">Registrar</button>
                </div>
            </form>
        </div>
        <div class="col-2 col-sm-2 col-mb-2 col-lg-2 col-lx-2"></div>

    </div>
   
</div>