<div class="footer">
    <nav class="sticky-bottom bg-dark mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 col-lg-12">
                    <h3 class="text-center footerTitle">Pancito López</h3>
                    <p class="text-center">
                        Contáctenos:
                        <br>
                        <a class="pl-3" href="tel:+50661248204">
                            <i class="fab fa-whatsapp whatsapp"></i> (+506) 6124-8204
                        </a>
                        <br>
                        <a class="pl-3" href="https://www.facebook.com/Pancito-L%C3%B3pez-110451544144180"
                            target="_blank">
                            <i class="fab fa-facebook"></i> www.facebook.com
                        </a>

                    </p>
                    <p class="text-center">Productos hechos con amor desde 2020.</p>
                </div>
            </div>
        </div>
    </nav>
</div>