<div class="container">

    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card">
                <div class="card-header">
                    <span>Files</span>
                </div>
                <div class="card-body">
                    <div appNgFiles [files]="files" (mouseover)="isOverDrop = $event" [ngClass]="{'file-over': isOverDrop}" class="drop-zone">
                        Dropper
                        <h4>Drop here your images</h4>
                        <img src="../../../assets/img/cloud.jpg" alt="drop-images">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-5">

            <div class="card">
                <div class="card-header">
                    <h4>Files to Upload</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Filename</th>
                                <th>Size</th>
                                <th>Progress</th>
                                <th>Url</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let file of files">
                                <td>{{file.name}}</td>
                                <td>{{file.file.size / 1024 | number:'.2-2'}} MB</td>
                                <td *ngIf="file.uploadPercent | async as uploadPercent">
                                    <div class="progress">
                                        <div class="progress-bar" role="progessbar" [ngStyle]="{ width: uploadPercent + '%' }">
                                            {{ uploadPercent | number: "1.0-0" }} %
                                        </div>
                                    </div>
                                </td>
                                <td *ngIf="file.downloadUrl | async as downloadUrl">
                                    <a [href]="downloadUrl" target="_blank">Download Url</a> file.downloadUrl
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="container-buttons">
                        <button class="btn btn-danger" (click)="files = []">Clean all</button>
                        <button class="btn btn-primary" (click)="onUpload()" [disabled]="files.length === 0">Upload</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<div *ngFor="let item of imgs">
    <img [src]="item.data.url" [alt]="item.data.name">

</div>